.text-brand {
  color: var(--brand-color);
}

.bg-main {
  background-color: var(--background);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.bg-alternative {
  background-color: var(--background-alternative);
}