/* Import Tailwind CSS */
@import "tailwindcss";

:root {
  --background: #0a0a09;
  --background-secondary: #242423;
  --foreground: #171717;
  --text-color: #9fa0a6;
  --title-color: #fbffed;
  --brand-color: #c4ef17;
  --black-color: #000;
  --indigo-color: #6b7fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Import custom styles */
/* ---- Global Styles ---- */
@import "../styles/css/animation.css";
@import "../styles/css/button.css";
@import "../styles/css/color.css";

/* ---- Component Styles ---- */
@import "../styles/css/component/experience.css";
@import "../styles/css/component/footer.css";

/* Global styles */
body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.625;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
