.bg-grid {
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    background-color: var(--body-color);
    background-image: linear-gradient(
        rgba(196, 239, 23, 0.1176470588) 0.8px,
        transparent 0
      ),
      linear-gradient(
        90deg,
        rgba(196, 239, 23, 0.1176470588) 0.8px,
        rgba(12, 15, 0, 0) 0
      );
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -2;
  }
}
